# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Pre compiled headers
*.gch

# Dependency files
*.d

# Binaries
*/test

# Editor Junk
*~
*.swp
